.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid; //item becomes also a grid container
    //auto-fit: css will add as many track as it can fit in container
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    //we do not need to specify rows, we will have implicit grid
    grid-gap: 6rem;
    align-items: start;
}

.feature { //independent component, can be part of other container, it's reusable
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2; //-1 only counts for explicit grids - we have an implicit grid here, because we didn't define rows
        transform: translateY(-1rem); //align center of the icon with the text
    }

    &__text {
        font-size: 1.7rem;

    }
}